body {
  background: #f5f0e1;
}

.lang-btn {
  position: absolute;
  right: 0;
  top: 0;
}

#phonebook {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#phonebook td, #phonebook th {
  border: 1px solid #ddd;
  padding: 8px;
}

#phonebook tr:nth-child(even){background-color: white;}

#phonebook tr:hover {background-color: #ddd;}

#phonebook th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #3c4d6d;
  color: white;
}