<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>{{ gettext("Login Form") }}</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik:400,700">
  <link rel="stylesheet" type= "text/css" href="{{ url_for("static", filename = "styles/login.css") }}">
</head>
<body>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<div class="login-form">
  <form method="POST">
    <h1>{{ gettext("Login Form") }}</h1>
    <div class="content">
      <div class="input-field">
        <input type="text" placeholder="{{ gettext("Login") }}" name="login">
      </div>
      <div class="input-field">
        <input type="password" placeholder="{{ gettext("Password") }}" name="password">
      </div>
        <a href="{{ url_for("register") }}" class="link">{{ gettext("Don't have an account?") }}</a>
    </div>
    <div class="action">
      <button type="submit" value="Login">{{ gettext("Sign in") }}</button>
    </div>
  </form>
</div>

</body>
</html>
