<!DOCTYPE html>
<html lang="{{ gettext("en") }}">
<head>
  <meta charset="UTF-8">
  <title>{{ gettext("Register Form") }}</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'>
  <link rel="stylesheet" type= "text/css" href="{{ url_for("static", filename = "styles/register.css") }}">
</head>
<body>

{% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
{% endwith %}
<form class="lang-btn" method="POST" action="/change_language">
    <input type="submit" value="{{ gettext("RU") }}">
</form>
<div class="login-form">
  <form method="POST">
    <h1>{{ gettext("Register Form") }}</h1>
    <div class="content">
      <div class="input-field">
        <input type="text" placeholder="{{ gettext("Login") }}" name="login">
      </div>
      <div class="input-field">
        <input type="password" placeholder="{{ gettext("Password") }}" name="password">
      </div>
      <div class="input-field">
        <input type="password" placeholder="{{ gettext("Retype password") }}" name="password-retype">
      </div>
        <a href="{{ url_for("login") }}" class="link">{{ gettext("Already have an account?") }}</a>
    </div>
    <div class="action">
      <button type="submit" value="Register">{{ gettext("Register") }}</button>
    </div>
  </form>
</div>

</body>
</html>
